@model Product;

<tr>
    <td>
        @if (Model?.ImageData != null && Model?.ImageData.Length > 0)
        {
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImageData)" alt="Product Image" style="width: 150px;"/>
        }
        else
        {
            <p>No image available</p>
        }
    </td>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@String.Format("{0:C}", Model.Price)</td>
    <td>@Model.StockQuantity</td>
    <td>
        <a asp-action="Details" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-outline-secondary btn-sm">Preview</a>
        <a asp-action="Edit" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-outline-secondary btn-sm">Edit</a>
        <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#DeleteProductModal-@Model.Id">Delete</button>
    </td>
</tr>
