@model Shop.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="container product-details">
    <div class="row">
        <div class="col-md-6">
            <a href="@Model.ImageUrl" data-lightbox="product-images">
                <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid product-image">
            </a>
        </div>
        <div class="col-md-6">
            <h1 class="product-name">@Model.Name</h1>
            <div class="product-details-info">
                <p class="product-price"><strong>Price:</strong> @String.Format("{0:C}", Model.Price)</p>
                <p class="product-quantity"><strong>In Stock:</strong> @Model.StockQuantity</p>
                <form asp-action="AddToCart" asp-controller="Cart" method="post" class="smaller-container">
                    <div class="form-group">
                        <label for="quantity" class="mr-2">Quantity:</label>
                        <div class="d-flex gap-2 w-50">
                            <input type="number" id="quantity" name="quantity" class="form-control w-25" value="1" min="1" max="@Model.StockQuantity" />
                            <button type="submit" class="btn btn-primary ml-2">Add to Cart</button>
                            <a asp-action="Buy" asp-controller="Cart" asp-route-productId="@Model.ProductId" class="btn btn-success">Buy</a>
                        </div>
                        <input type="hidden" name="productId" value="@Model.ProductId" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="flex-column gap-3">
        <h5>Description</h5>
        <p class="product-description">@Model.Description</p>
    </div>
</div>
